<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ChatGPT API Chat</title><!-- {{ chat_no }} -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='chatgpt.css') }}">
    </head>
    <body>
        <div id="chatid" class="top-fixed form-style">
            {{ _('Chat Name') }}：<input type="text" id="chat_name" value="{{ chat_name }}">
            <button id="btn_newchat">{{ _('new chat') }}</button>
            &nbsp; 
            <button id="btn_voiceRec">{{ _('voice REC') }}</button>
            <input type="hidden" id="chat_uuid" value="{{ chat_uuid }}">
            <i id="setting_button" class="fa-solid fa-gear"></i>
        </div>
        <div id="contents_field" class="scrollable-content"></div>
        <div id="inputbox" class="bottom-fixed form-style">
            <div class="container">
                <textarea id="content_input"></textarea>
                <div id="btn_submit" class="div-button">
                    <span class="fa-regular fa-comment button-icon"></span>
                    <span class="button-text">{{ _('submit') }}</span>
                </div>
                <div id="btn_continue" class="div-button">
                    <span class="fa-regular fa-hand-point-right button-icon"></span>
                    <span class="button-text">{{ _('continue') }}</span>
                </div>
            </div>
        </div>
        <div id="setting_modal" class="modal">
            <div id="setting_panel" class="">
                <h3 class="mb-3">Setting Panel</h3>
                <div class="setting-row d-flex flex-wrap mb-3">
                    <div class="panel-component p-c-w-31 d-inline-block">Select Model</div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <select id="select_model">
                            {% for key, value in model_dict.items() %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <script>
                            document.getElementById('select_model').value = "{{ model_id }}";
                        </script>
                    </div>
                </div>
                <div class="setting-row d-flex flex-wrap mb-3">
                    <div class="panel-component p-c-w-31 d-inline-block">{{_('Summarization?')}}</div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <div id="summarizeToggle" class="toggle">
                            <input type="checkbox" id="summarizeOn" name="summarizeOn" />
                        </div>
                    </div>
                </div>
                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        <span>{{ _('audio') }}</span>&nbsp;
                        <div id="audioToggle" class="toggle">
                            <input type="checkbox" id="audioOn" name="audioOn" />
                        </div>
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <select id="audioCredit">
                            {% for speaker in speakers %}
                                {% for style in speaker.styles %}
                            <option value="{{ style.id }}">{{ speaker.name }}（{{ style.name }}）</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                        <audio src=""></audio>
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        システムプロンプト
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <select id="systemPromptFile">
                            <option value="">（デフォルト）</option>
                            {% for system_prompt_file in system_prompt_files %}
                            <option value="{{ system_prompt_file }}">{{ system_prompt_file }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        カスタムシステムプロンプト
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <div id="customize-system-prompt-toggle" class="toggle">
                            <input type="checkbox" id="customize-system-prompt-on" name="customSystemPromptOn" />
                        </div>
                        <button id="customize-system-prompt">Customize</button>
                        <input type="hidden" id="customized_prompt" value="">
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        ワード置換
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <div id="word-replace-setting-toggle" class="toggle">
                            <input type="checkbox" id="word-replace-setting-on" name="wordReplaceSettingOn" checked />
                        </div>
                        <button id="btn-word-replace-setting">Setting</button>
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        メッセージをコピー
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <button id="copy-assistant-message">assistants</button>
                        <button id="copy-all-message">all</button>
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        顔写真を選択 <a href="/test/crop" target="_blank" alt="Add face pic."><i class="fa-solid fa-user-plus"></i></a>
                        <i class="fa-solid fa-arrows-rotate btn-reload-face"></i>
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <button id="save-assistant-pic-selection">保存する</button>
                        <button id="apply-assistant-pic-selection">適用のみ</button>
                        <button id="release-assistant-pic-selection">選択解除</button>
                        <input type="hidden" id="selected-image-url" value="">
                    </div>
                </div>
                <div id="assistant-face-list" class="image-container">
                    <!-- ここに画像を横に並べる -->
                </div>
                <i class="fa-regular fa-rectangle-xmark btn-close-setting-panel"></i>
            </div>
        </div>
        <div id="system_prompt_modal" class="modal">
            <div id="system_prompt_panel">
                <h3 class="mb-3">System Prompt Panel</h3>
                <section>
                    <textarea id="work_system_prompt"></textarea>
                </section>
                <section>
                    <button id="save_system_prompt">Save Prompt</button>
                    <button id="undo_by_default">Undo by Default</button>
                    <button id="undo_by_saved">Undo by Saved</button>
                    <button id="close_system_prompt_Panel">Close Panel</button>
                </section>
            </div>
        </div>
        <div id="word_replace_modal" class="modal">
            <div id="word_replace_panel">
                <h3 class="mb-3">Word Replace Settings Panel</h3>
                <form id="replace_pairs_form">
                    <section>
                        <table>
                            <thead>
                                <tr>
                                    <th>Assistant's?</th>
                                    <th>Browser</th>
                                    <th>Server</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr class="form-row">
                                    <td>
                                        <label><input type="radio" name="isAssistant_00" class="is-assistant" value="user">User</label>&nbsp;<label><input type="radio" name="isAssistant_00" class="is-assistant" value="assistant">Assistant</label>
                                    </td>
                                    <td><input type="text" name="keys[]" class="key-input" maxlength="50"></td>
                                    <td><input type="text" name="values[]" class="value-input" maxlength="50"></td>
                                    <td><i class="fa-solid fa-trash remove-row"></i></td>
                                </tr>-->
                            </tbody>
                        </table>
                        <button type="button" id="word_replace_addRow">Add Row</button>
                        <button type="submit" id="word_replace_submitForm">Apply</button>
                    </section>
                </form>
            </div>
        </div>
    </body>
    {% include 'parts/common_scripts.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var chat_history_list = JSON.parse({{ serialized_json | default('[]') | tojson | safe }});
        var assistant_pic_url_list = JSON.parse({{ assistant_pic_url_list | default('[]') | tojson | safe }});
        var word_replasing_list = JSON.parse({{ word_replasing_list | default('[]') | tojson | safe }});
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='common.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chatgpt.js') }}"></script>
</html>
