<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{ _('ChatGPT API Chat') }}</title><!-- {{ chat_no }} -->
{% include 'parts/common_header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='chatgpt.css') }}">
    </head>
    <body>
        <div id="chatid" class="top-fixed form-style">
            {{ _('Chat Name') }} : <input type="text" id="chat_name" value="{{ chat_name }}">
            <button id="btn_newchat">{{ _('new chat') }}</button>
            &nbsp; 
            <button id="btn_voiceRec">{{ _('voice REC') }}</button>
            <input type="hidden" id="chat_uuid" value="{{ chat_uuid }}">
            <i id="setting_button" class="fa-solid fa-gear"></i>
        </div>
        <div id="contents_field" class="scrollable-content"></div>
        <div id="inputbox" class="bottom-fixed form-style">
            <div class="container">
                <textarea id="content_input"></textarea>
                <div id="btn_submit" class="div-button">
                    <span class="fa-regular fa-comment button-icon"></span>
                    <span class="button-text">{{ _('submit') }}</span>
                </div>
                <div id="btn_continue" class="div-button">
                    <span class="fa-regular fa-hand-point-right button-icon"></span>
                    <span class="button-text">{{ _('continue') }}</span>
                </div>
            </div>
        </div>
        <div id="setting_modal" class="modal">
            <div id="setting_panel" class="">
                <h3 class="mb-3">Setting Panel</h3>
                <div class="setting-row d-flex flex-wrap mb-3">
                    <div class="panel-component p-c-w-31 d-inline-block">Select Model</div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <select id="select_model">
                            {% for key, value in model_dict.items() %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <script>
                            document.getElementById('select_model').value = "{{ model_id }}";
                        </script>
                    </div>
                </div>
                <div class="setting-row d-flex flex-wrap mb-3">
                    <div class="panel-component p-c-w-31 d-inline-block">{{_('Summarization?')}}</div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <div id="summarizeToggle" class="toggle">
                            <input type="checkbox" id="summarizeOn" name="summarizeOn" />
                        </div>
                    </div>
                </div>
                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        <span>{{ _('audio') }}</span>&nbsp;
                        <div id="audioToggle" class="toggle">
                            <input type="checkbox" id="audioOn" name="audioOn" />
                        </div>
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <select id="audioCredit">
                            {% for speaker in speakers %}
                                {% for style in speaker.styles %}
                            <option value="{{ style.id }}">{{ speaker.name }}（{{ style.name }}）</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                        <audio src=""></audio>
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        {{ _('Select System Prompt') }}
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <select id="systemPromptFile">
                            <option value="">{{ _('(Default)') }}</option>
                            {% for system_prompt_file in system_prompt_files %}
                            <option value="{{ system_prompt_file }}">{{ system_prompt_file }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        {{ _('Custom System Prompt') }}
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <div id="customize-system-prompt-toggle" class="toggle">
                            <input type="checkbox" id="customize-system-prompt-on" name="customSystemPromptOn" />
                        </div>
                        <button id="customize-system-prompt">Customize</button>
                        <input type="hidden" id="customized_prompt" value="">
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        {{ _('Word Replacing') }}
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <div id="word-replace-setting-toggle" class="toggle">
                            <input type="checkbox" id="word-replace-setting-on" name="wordReplaceSettingOn" checked />
                        </div>
                        <button id="btn-word-replace-setting">Setting</button>
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        {{ _('Copy Messages') }}
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <button id="copy-assistant-message">{{ _("Assistant's Only") }}</button>
                        <button id="copy-all-message">{{ _('All') }}</button>
                    </div>
                </div>

                <div class="setting-row d-flex flex-wrap">
                    <div class="panel-component p-c-w-31 d-inline-block">
                        {{ _('Select Face Pic') }} <a href="{{ url_for('test_crop') }}" target="_blank" alt="Add face pic."><i class="fa-solid fa-user-plus"></i></a>
                        <i class="fa-solid fa-arrows-rotate btn-reload-face"></i>
                    </div>
                    <div class="panel-component p-c-w-32 d-inline-block">
                        <button id="save-assistant-pic-selection">{{ _('Save Pic') }}</button>
                        <button id="apply-assistant-pic-selection">{{ _('Attempt Pic Only') }}</button>
                        <button id="release-assistant-pic-selection">{{ _('Deselect') }}</button>
                        <input type="hidden" id="selected-image-url" value="">
                    </div>
                </div>
                <div id="assistant-face-list" class="image-container">
                    <!-- ここに画像を横に並べる -->
                </div>
                <i class="fa-regular fa-rectangle-xmark btn-close-setting-panel"></i>
            </div>
        </div>
        <div id="system_prompt_modal" class="modal">
            <div id="system_prompt_panel">
                <h3 class="mb-3">{{ _('System Prompt Panel') }}</h3>
                <section>
                    <textarea id="work_system_prompt"></textarea>
                </section>
                <section>
                    <button id="save_system_prompt">{{ _('Save Prompt') }}</button>
                    <button id="undo_by_default">{{ _('Undo by Default') }}</button>
                    <button id="undo_by_saved">{{ _('Undo by Saved') }}</button>
                    <button id="close_system_prompt_Panel">{{ _('Close Panel') }}</button>
                </section>
            </div>
        </div>
        <div id="word_replace_modal" class="modal">
            <div id="word_replace_panel">
                <h3 class="mb-3">{{ _('Word Replace Settings Panel') }}</h3>
                <form id="replace_pairs_form">
                    <section>
                        <table>
                            <thead>
                                <tr>
                                    <th>{{ _('Which?') }}</th>
                                    <th>{{ _('Browser') }}</th>
                                    <th>{{ _('Server') }}</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr class="form-row">
                                    <td>
                                        <label><input type="radio" name="isAssistant_00" class="is-assistant" value="user">User</label>&nbsp;<label><input type="radio" name="isAssistant_00" class="is-assistant" value="assistant">Assistant</label>
                                    </td>
                                    <td><input type="text" name="keys[]" class="key-input" maxlength="50"></td>
                                    <td><input type="text" name="values[]" class="value-input" maxlength="50"></td>
                                    <td><i class="fa-solid fa-trash remove-row"></i></td>
                                </tr>-->
                            </tbody>
                        </table>
                        <button type="button" id="word_replace_addRow">{{ _('Add Row') }}</button>
                        <button type="submit" id="word_replace_submitForm">{{ _('Save Word Replacing') }}</button>
                    </section>
                </form>
            </div>
        </div>
    </body>
{% include 'parts/common_scripts.html' %}
{% include 'parts/common_footer.html' %}
<script type="text/javascript">
    var chat_history_list = JSON.parse({{ serialized_json | default('[]') | tojson | safe }});
    var assistant_pic_url_list = JSON.parse({{ assistant_pic_url_list | default('[]') | tojson | safe }});
    var word_replasing_list = JSON.parse({{ word_replasing_list | default('[]') | tojson | safe }});
</script>
    <script type="text/javascript" src="{{ url_for('static', filename='chatgpt.js') }}"></script>
</html>
