<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Chat List</title>
{% include 'parts/common_header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='chat_list.css') }}">
    </head>
    <body>
        <div id="chat_list_area" class="scrollable-content">
            <div class="empty-message">{{_('No chat yet.')}}</div>
        </div>
    </body>
    {% include 'parts/common_scripts.html' %}
    {% include 'parts/common_footer.html' %}
    <script type="text/javascript">
        var chat_list = JSON.parse({{ serialized_json | default('[]') | tojson | safe }});
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='chat_list.js') }}"></script>
</html>
