<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{_('Moderation API')}} | {{_('ChatGPT API Chat')}}</title>
{% include 'parts/common_header.html' %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='moderation_table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='check_moderation.css') }}">
    </head>
    <body>
        <div class="content">
            <h2>{{_('Moderation API')}} （{{ user_name }}）</h2>
            <h3 class="error" id="main_error_message">{{ main_error_message }}</h3>
            <div id="detail_panel" class="detail_panel">
                <table>
                    <tr><th colspan="2">{{_('Prompt Content')}}</th></tr>
                    <tr>
                        <td colspan="2"><textarea id="prompt_content" class="prompt_editor"></textarea><br>
                            <span id="invalidate_prompt_content" class="error">&nbsp; </span></td>
                    </tr>
                </table>
                <input id="csrf_token" type="hidden" value="{{ csrf_token }}">
            </div>
            <div>
                <fieldset>
                    <legend>{{_('Select Moderation Model:')}}</legend>
                    <ul>
                        <li>
                            <input type="radio" name="moderation-model" value="1" id="moderation-model-latest" checked>
                            <label for="moderation-model-latest">text-moderation-latest</label>
                        </li>
                        <li>
                            <input type="radio" name="moderation-model" value="2" id="moderation-model-stable">
                            <label for="moderation-model-stable">text-moderation-stable</label>
                        </li>
                    </ul>
                  </fieldset>
            </div>
            <div class="center">
                <button id="check_moderation" class="register">{{_('Check Moderation')}}</button>
                <button id="remove_wastes">{{_('Cleanup Prompt')}}</button>
                <button id="download_by_text_button">{{_('Download TXT')}}</button>
                <button id="download_by_md_button">{{_('Download MD')}}</button>
                <button id="copy_to_clipboard_button">{{_('Copy To Clipboard')}}</button>
            </div>
        </div>
    </body>
    {% include 'parts/common_scripts.html' %}
    {% include 'parts/common_footer.html' %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='moderation_table.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='check_moderation.js') }}"></script>
</html>
