<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{ _('Register User') }} | {{_('ChatGPT API Chat')}}</title>
{% include 'parts/common_header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
        <div class="content">
            <h2>{{_('Register User')}}</h2>
            <div class="login_panel">
                <table>
                    <tr>
                        <th rowspan="2">{{_('Login ID')}}</th>
                        <td>
                            <input class="login_field" id="login_id" type="text" value=""><br>
                            <span id="invalidate_login_id" class="error">&nbsp; </span>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="2">{{_('Password')}}</th>
                        <td>
                            <input class="login_field" id="password" type="password"><br>
                            <span id="invalidate_password" class="error">&nbsp; </span>
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="2">{{_('User Name')}}</th>
                        <td>
                            <input class="login_field" id="user_name" type="text" value=""><br>
                            <span id="invalidate_user_name" class="error">&nbsp; </span>
                        </td>
                    </tr>
                </table>
                <p>
                    <button id="register_user_button">{{_('Register User')}}</button>
                </p>
                <input id="csrf_token" type="hidden" value="{{ csrf_token }}">
            </div>
        </div>
    </body>
    {% include 'parts/common_scripts.html' %}
    {% include 'parts/common_footer.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>
</html>
