<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{_('Roleplayer')}} | {{_('ChatGPT API Chat')}}</title>
{% include 'parts/common_header.html' %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='roleplayer.css') }}">
    </head>
    <body>
        <div class="content">
            <h2>{{_('Roleplayer')}}</h2>
            <h3 class="error" id="main_error_message">{{ message }}</h3>
            <div id="detail_panel" class="detail_panel">
                <table>
                    <tr><th colspan="2">{{_('Roleplayer Name')}}</th></tr>
                    <tr>
                        <td colspan="2"><input id="roleplayer_name" type="text"><br>
                            <span id="invalidate_roleplayer_name" class="error">&nbsp; </span></td>
                    </tr>
                    <tr>
                        <th>{{_('Roleplayer Icon')}}</th>
                        <td>
                            <button id="set_icon_button">{{_('Icon Setting')}}</button>
                        </td>
                    </tr>
                    <tr><th colspan="2">{{_('Roleplayer Memo')}}</th></tr>
                    <tr>
                        <td colspan="2"><input type="text" id="memo" class=""></input><br>
                            <span id="invalidate_memo" class="error">&nbsp; </span></td>
                    </tr>
                    {% if roleplayer.is_owner %}
                    <tr>
                        <th class="w-25">{{_('This prompt is locked?')}}</th>
                        <td><input id="is_edit_locked" type="checkbox"></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th class="w-25">{{_('Everyone can see?')}}</th>
                        <td><input id="is_viewable_by_everyone" type="checkbox" checked></td>
                    </tr>
                    <tr>
                        <th class="w-25">{{_('Everyone can edit?')}}</th>
                        <td><input id="is_editable_by_everyone" type="checkbox" ></td>
                    </tr>
                    {% if roleplayer %}
                    <tr><th colspan="2">{{_('Owner User')}}</th></tr>
                    <tr>
                        <td colspan="2"><span>{{ roleplayer.owner_user }}</span></td>
                    </tr>
                    <tr><th colspan="2">{{_('Last Updated')}}</th></tr>
                    <tr>
                        <td colspan="2"><span>{{ roleplayer.Roleplayers.updated_time | get_display_time }}</span></td>
                    </tr>
                    <tr><th colspan="2">{{_('Updated User')}}</th></tr>
                    <tr>
                        <td colspan="2"><span>{{ roleplayer.updated_user }}</span></td>
                    </tr>
                    {% endif %}
                </table>
                {% if roleplayer %}
                <input id="roleplayer_id" type="hidden" value="{{ roleplayer.Roleplayers.roleplayer_id }}">
                <input id="revision" type="hidden" value="{{ roleplayer.Roleplayers.revision }}">
                <input id="updated_time" type="hidden" value="{{ roleplayer.Roleplayers.updated_time }}">
                {% endif %}
                <input id="csrf_token" type="hidden" value="{{ csrf_token }}">
            </div>
            <div class="center">
                {% if not roleplayer %}
                <button id="register_button" class="register">{{_('Register Roleplayer')}}</button>
                {% elif roleplayer.is_editable %}
                <button id="register_button">{{_('Edit Roleplayer')}}</button>
                {% endif %}
                {% if roleplayer %}
                <button id="revert_button">{{_('Revert')}}</button>
                <button id="delete_button">{{_('Delete Roleplayer')}}</button>
                {% endif %}
            </div>
        </div>
        <div id="moderation_modal" class="modal"></div>
    </body>
    {% include 'parts/common_scripts.html' %}
    {% include 'parts/common_footer.html' %}
    <script type="text/javascript">
        var detail_data = JSON.parse({{ serialized_json | default('{}') | tojson | safe }});
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='roleplayer.js') }}"></script>
</html>
