<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{_('Systme Prompot List')}} | {{_('ChatGPT API Chat')}}</title>
{% include 'parts/common_header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='system_prompt.css') }}">
    </head>
    <body>
        <div class="content">
            <div class="list_panel">
                {% if not system_prompts %}
                    {{_('System prompt has not been registered yet.')}}
                {% else %}
                <table>
                    <tr>
                        <th>{{_('Prompt Name')}}</th>
                        <th>{{_('Owner User')}}</th>
                        <th>{{_('My Prompt')}}</th>
                        <th>{{_('Everyone can edit?')}}</th>
                        <th>{{_('Last Updated')}}</th>
                        <th>{{_('Last Updated User')}}</th>
                        <th>{{_('Detail')}}</th>
                    </tr>
                    {% for prompt, owner_name, updated_name, is_owner in system_prompts %}
                    <tr>
                        <td>{{ prompt.prompt_name }}</td>
                        <td>{{ owner_name }}</td>
                        <td>{{ is_owner }}</td>
                        <td>{{ prompt.is_editable_by_everyone }}</td>
                        <td>{{ prompt.updated_time | get_display_time }}</td>
                        <td>{{ updated_name }}</td>
                        <td><button class="detail_button" prompt_id="{{ prompt.prompt_id }}">{{_('Detail')}}</button></td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            <div>
                <a href="{{ url_for('system_prompt_detail_show') }}">{{_('Add System Prompt')}}</a>
            </div>
        </div>
    </body>
    {% include 'parts/common_scripts.html' %}
    {% include 'parts/common_footer.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='system_prompt_list.js') }}"></script>
</html>
